@import "../../globals.css";

.heroContainer {
    background-color: var(--primary-extra-light);
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 140rem;
    margin: 0 auto;
    padding: 3.2rem;
    gap:9.6rem;
    align-items: center;
}

.headingPrimary {
    font-size: 5.2rem;
    font-weight: 600;
    color: var(--grey-dark-1);
    margin-bottom: 3.2rem;
}

.heroDescription {
font-size: 2rem;
line-height: 1.5;
margin-bottom: 4.8rem;
}

.marginRightSM {
    margin-right: 1.6rem;
}

.marginBottomSM {
    margin-bottom: 1.6rem;
}

@media (max-width: 651px) {
    .heroImgBox {
        display: none;
    }

    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}