@import '../../../globals.css';

.subheading{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-dark);
    text-transform: uppercase;
    margin-bottom:1.6rem;
    letter-spacing: .3rem;
}

.heading {
    color: var(--grey-dark-1);
    font-weight: 700;
    letter-spacing: -.5px;
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.2rem;
}