.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: -1rem;
	z-index: 9999;
	background-color: #fff;
	display: flex;
	border-radius: 1.5rem;
}

.button {
	width: 5rem;
	height: 3rem;
	border-radius: 200px;
	border: none;
	font-size: 2rem;
	color: #fff;
	font-size: 1.6rem;
	font-weight: 400;
	background-color: var(--primary-dark);
	text-align: center;
	box-shadow: 0 0.2rem 1rem 0.001rem #55c57a93;
	transition: all 0.2s;
}

.button:hover {
	transform: translateY(-3px);
}

.button:active {
	transform: translateY(1px);
}
