@import '../../globals.css';

.header {
display: flex;
justify-content: space-between;
align-items: center;
background-color: var(--primary-extra-light);
height: 9.6rem;
padding: 0 4rem;
top:-100px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.4s ease;
    z-index: 999;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 1rem
}

.logoText {
    color: var(--grey-dark-2);
    font-size: 2.4rem;
    letter-spacing: 1px;
}

.logo {
max-height: 4rem;
}
